<h1 style="color: grey;">info</h1>
{{#if info}}
<p>id : {{info.id}}</p><br>
<p>name : {{info.name}}</p><br>
<p>path : {{info.path}}</p><br>
<p>size : {{info.size}}</p><br>
<p>type : {{info.type}}</p><br>
<p>savedate : {{info.date}}</p><br>
{{/if}}